body
{
  background-color:rgb(164,219,174)
}
nav
{
  ul
  {
    background-color:rgb(87, 214, 212);
    height:3em;
    padding:1em 0 1em 0;
  }
  li
  {
    text-align:center;
    margin-left: 2em;
    padding:1em 0 0 0;
    height:2em;
    width:8em;
    background-color:rgb(34, 112, 110);
    display:inline-block;
    a
    {
      text-decoration:none;
      color:yellow;
    }
  }
}
h1
{
  text-align:center;
  margin:auto;
  background-color:rgb(85, 219, 109);
  width:12.5em;
  height:2em;
}
form
{
  text-align:center;
  margin:auto;
  background-color:rgb(85, 219, 109);
  width:25em;
  height:12em;
}
main
{
  margin-top:7em;
}
