@import url("../main.css");
h1 {
  background-color: #7ec45e;
  width: 10em;
  height: 2em;
}

form {
  background-color: #7ec45e;
  width: 25em;
  height: 10em;
}
main{
  width:40em;
  height:10em;
  background-color:rgb(102, 143, 209);
}
