<header>
  <nav>
    <ul>
      <li><a href="../index.php">mainPage</a></li>
      <li><a href="../login/login.php">&nbsp;&nbsp;&nbsp;&nbsp;login&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      <li><a href="../aboutUs/aboutUs.php">&nbsp;aboutUs&nbsp;</a></li>
      <li><a href="../contactUs/contactUs.php">contactUs</a></li>
      <li><a href="../bookRegister/bookRegister.php">addBook</a></li>
      <li><a href="../basket/basketLogin.php">basket</a></li>
      <li id="register"><a href="../register/register.php">sign up</a></li>
    </ul>
  </nav>
</header>
